.content {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  width: 400px;
  height: 400px;
  margin: auto;
  overflow: auto;
  box-shadow: 1px 2px 6px 0 rgba(0,0,0,0.1);
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  -webkit-overflow-scrolling: touch;
  background: #fff;
  outline: none;
  padding: 20px;
}
