.content {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  width: 400px;
  height: 400px;
  margin: auto;
  overflow: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.06);
  border: 0;
  border-radius: var(--border-radius-lg);
  -webkit-overflow-scrolling: touch;
  background: #fff;
  outline: none;
  padding: 0 20px 20px 20px;
}

.top {
  display: flex;
  justify-content: flex-end;
  height: 32px;
  margin: 6px 0;
}

.closeButton {
  background: none;
  cursor: pointer;
  font-size: 32px;
  font-weight: 500;
  color: var(--font-color-light);
}

.closeButton:hover {
  filter: brightness(95%);
}
