.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-x: none;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.06);
  border: 0;
  border-radius: var(--border-radius-lg);
  -webkit-overflow-scrolling: touch;
  background: #fff;
  outline: none;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  padding: 15px 15px 0 15px;
}

.content {
  padding: 15px;
}

.closeButton {
  background: none;
  cursor: pointer;
  font-size: 32px;
  line-height: 15px;
  font-weight: 500;
  color: var(--font-color-light);
}

.closeButton:hover {
  filter: brightness(95%);
}
