.container {
}

.bioWrap {
  display: flex;
  align-items: center;
  padding: 32px;
}

.bio {
  flex: 1;
}

.avatar {
  flex-basis: 120px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: slategray;
}

.tabpane {
  padding: 32px;
}
