.container {
}

.bioWrap {
  display: flex;
  align-items: center;
  padding: 32px;
}

.bio {
  flex: 1;
}

.avatar {
  flex-basis: 120px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: url(/avatar.jpg);
  filter: brightness(118%);
}

.tabs {
  background: linear-gradient(to bottom, transparent 50%, rgba(0,0,0,.02));
}

.tabpane {
  padding: 32px;
}
