.btn {
  padding: 13px 25px 9px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  border-width: 2px;
  border-color: var(--color-primary);
  border-radius: var(--border-radius);
  white-space: nowrap;
  text-transform: uppercase;
}

.btn:not(.disabled):hover {
  filter: brightness(95%);
}

.default {
  padding: 2px;
  background: none;
  color: var(--color-primary);
  border-style: none;
}
.default.invert {
  color: #fff;
}

.primary {
  background-color: var(--color-primary);
  color: #fff;
  border-style: none;
}
.primary.invert {
  background-color: #fff;
  color: var(--color-primary);
}

.outline {
  background: none;
  border-style: solid;
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.outline.invert {
  border-color: #fff;
  color: #fff;
}

.disabled {
  background-color: var(--disabled-color);
  color: #fff;
  cursor: not-allowed;
}
