.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
}

.navbarContent {
  width: 100%;
  max-width: var(--content-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: var(--fw-bold);
  color: #fff;
  text-decoration: none;
}
