@import "./variables.css";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #f7f7f7;
  color: #000;
  line-height: 1;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, code, em, small, strong,
b, u, i, ol, ul, li, button,
fieldset, form, label,
article, aside, footer, header,
menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

button:focus {
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}
