body {
  --content-width: 900px;
  --font-color: #333;
  --background-color: #eee;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --color-primary: #33cdff;

  --border-radius: 8px;
  --border-radius-lg: 16px;
}
