.form {
  padding: 24px;
  display: flex;
  flex-flow: column nowrap;
}

.form > * {
  margin-bottom: 32px;
}

.error {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-error);
  text-align: center;
}
